* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 5000px;
    background-color: #EEE;
    font-size: 20px;
}
.scroller {
    background-color: #0075FF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 0;
    height: 5px;
}